<h1>TP Monitoring</h1>

<h3>Add a person:</h3>

<form [formGroup]="simpleForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="lastName">Last Name:</label>
      <input id="lastName" type="text" formControlName="lastName">
      <div *ngIf="simpleForm.get('lastName')?.invalid && simpleForm.get('lastName')?.touched">
        Last name is required.
      </div>
    </div>

    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input id="phoneNumber" type="text" formControlName="phoneNumber">
      <div *ngIf="simpleForm.get('phoneNumber')?.invalid && simpleForm.get('phoneNumber')?.touched">
        Valid phone number is required.
      </div>
    </div>

    <button type="submit" [disabled]="simpleForm.invalid">Submit</button>
</form>

<h3>You have the following people in your database:</h3>
<table>
    <thead>
        <th>ID</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Location</th>
    </thead>
    <tbody>
        <tr *ngFor="let person of people">
            <td>{{person.id}}</td>
            <td>{{person.last_name}}</td>
            <td>{{person.phone_number}}</td>
            <td>{{person.location}}</td>
        </tr>
    </tbody>
</table>